---
---

body {
  background-color: #ffffff;
  margin-left: 80px;
  margin-right: 120px;

  a {
    text-decoration: none;
  }
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    margin-left: 32px;
    font-size: 24px;
  }
}
