---
---

@font-face {
  font-family: "EuclidB";
  src: url("/assets/fonts/EuclidCircularB-Regular-WebTrial.woff");
}

$body-font: "EuclidB";


body {
  background-color: #ffffff;
  margin-left: 80px;
  margin-right: 120px;
  font-family: $body-font;


  a {
    text-decoration: none;
  }
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav a {
    margin-left: 32px;
    font-size: 24px;
  }
}
